@font-face {
  font-family: 'BagelFat';
  src: url('../fonts/BagelFatOne-Regular.ttf');
}

:root {
  --bege: #FFFEC4;
  --rosinha: #FFFEC4;
  --peach: #FFD6A5;
  --pink: #FF9B9B;
  --rosa: rgb(255, 0, 140);
}

body {
  align-items: center;
  background: #c3f8a0;
  background-image: url('../images/pinkflower01.png') ;
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'BagelFat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--pink);
  margin-bottom: 20px;
  font-size: 2rem;
}

.container img{
  position: relative;
  text-align: center;

}

.corpo{
  position: absolute;
  text-align: center;
}

.teclado {
  background: rgba(31, 30, 30, 0.733);
  box-shadow: 6px 8px 0 6px #666666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
 
}

.tecla {
  background-color: var(--pink);
  border-radius: 30px;
  box-shadow: 3px solid 0 var(--rosa);
  color: var(--rosinha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--rosinha);
  border: 4px solid  var(--rosinha);
  box-shadow: 3px 3px 0 var(--peach) inset;
  color: var(--pink);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--rosa);
}

.tecla.ativa:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--peach) inset, 1px 1px 10px var(--rosa);
}

